<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Home</title>
        <link rel="stylesheet"
              type="text/css"
              th:href="@{/assets/css/style.css}" />
    </head>
    <body>
        <div sec:authorize="isAuthenticated()">
            <h2>
                Hi <span sec:authentication="name">guy</span>!
            </h2><br />
            Your remote IP is <span sec:authentication="details.remoteAddress">?</span><br />
        </div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" />
        </form>
    </body>
</html>