<html>
<body>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>

        <form th:action="@{/login}" method="post">
            <div>
                <label> Username : <input type="text" name="username"/>
                </label>
            </div>
            <div>
                <label> Password: <input type="password" name="password"/>
                </label>
            </div>

            <div>
                <input type="submit" value="Sign In"/>
                <input id="remember_me" name="remember-me" type="checkbox"/>
                <label for="remember_me" class="inline">Remember me</label>
            </div>

        </form>

        <a href="@{/logout}">Logout</a>
</body>
</html>